.sensor-dropdown{

}

.sensor-dropdown a i{
	padding: 1%;
}

.theader{
    font-weight: bold;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
  flex: 1 0 auto;
}

.datepicker-date-display{
	background-color: #1a237e;
}

.datepicker-table td.is-today{
	color: #1a237e;
}
.datepicker-cancel, .datepicker-done{
	color: #1a237e;
}

.datepicker-table td.is-selected{
	background-color: #7986cb;
}

.timepicker-plate{
	background-color: #757575;
}

.timepicker-tick{
	color: #ffffff ;
}

#live-button{
	 border: 1px solid #ffffff;
}

#date_interval_form{
	margin-right: 1%;
	margin-left: 1%;
	border-bottom: 1px solid black;
}

.progress{
background-color: #c5cae9;	
}

.indeterminate {
    background-color: #304ffe;
}

.white-letter input{
	color: white;
}

.tagcardtag{
    font-weight: bold;
    background-color: #f44336;
    border: 2px solid black;
    color: white;
    display: none;
}